version: '3.8'

services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: IOPASSWD2026!
      MYSQL_USER: admin
      MYSQL_PASSWORD: zaq1@WSX
      MYSQL_DATABASE: shelter
    ports:
      - "3306:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

  php-fpm:
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: php-fpm
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: admin
      DB_PASSWORD: zaq1@WSX
      DB_DATABASE: shelter
    depends_on:
      - mysql
    volumes:
      - ./:/var/www/html

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - php-fpm
    volumes:
      - ./:/var/www/html